.spinner-back-panel {
    background-color: red;
    height: 700px;
    width: 700px;
    border-radius: 50%;
    margin: auto;
    position: relative;
}

.spinner-back-panel::before {
    content: "";
    height: 2px;
    width: 700px;
    background-color: black;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
}

.spinner-arrow {
    width: 250px;
    height: 40px;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    transition: 3s ease-out;
    transform-origin: left CENTER;
}
